# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/*
.ccls-cache

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-preload-cache/
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds

# Android
android/.gradle/
android/app/*.apk
android/app/build/
android/app/intermediates/
android/app/outputs/
android/key.properties

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Runner.xcworkspace/
ios/Pods/
ios/Podfile.lock

# macOS
macos/Flutter/Generated/
macos/Flutter/ephemeral/
macos/Pods/
macos/Podfile.lock

# Windows
windows/Flutter/Generated/
windows/flutter/ephemeral/
windows/runner/Debug/
windows/runner/Release/
windows/runner/Profile/

# Linux
linux/flutter/generated_plugins.cmake
linux/flutter/ephemeral/

# Firebase options
music_tag_editor/lib/firebase_options.dart
music_tag_editor/android/app/google-services.json
